# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS
**/.DS_Store

# Build folders
**/build
build-*/

# Editor files
*.sublime-workspace
**/.vscode
.history/
.cache/
.vs/
.idea/
/cmake-build-*/
